<div style="align:bottom">
  <% @availMatrix.each do |dl| %>
  <div style="float:left;border-left:thin solid grey">
    <div style="padding:8px;text-align:center">
      <%= dl[0].strftime("<strong>%a</strong>,<br /> %d %b") %>
    </div>
    <% @displayAccommTypes.each do |dAT| %>
      <% if dl[1][dAT.id] > 0 %>
      <div style="background-color:#ccccff;padding:2px">
      <% else %>
      <div style="background-color:#ffcccc;padding:2px">
      <% end %>
        <%= dl[1][dAT.id] %>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
