<table>
  <tr>
  <% @availMatrix.each do |dl| %>
  <td>
    <%= dl[0].strftime("%a, %d %b %y") %>
    <% @displayAccommTypes.each do |dAT| %>
      <br />
      <%= dl[1][dAT.id] %>
    <% end %>
  </td>
  <% end %>
  </tr>
</table>
